<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css'>
</head>
<body>

<h1>{{ title }}</h1>
<div class="alert alert-success">
    <p>Message sent to message to {{ email }}!</p>

    <p>You may view your message <a href="/view/{{ id }}">here</a>.</p>

    <p><a class="btn" href="/delete/{{id}}">delete this message</a></p>
</div>


</body>
</html>
